@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');

header{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
}
nav{
    height: 60px;
    background:red;

}
.menu_nav{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}
.menu_nav ul{
    width: 100%;
    margin: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;

}
.menu_nav ul li{
    list-style: none;
}
.menu_nav ul li, .menu_nav ul li a{
    color:#fff;
    line-height: 44px;
    text-decoration: none;
}
.menu_nav ul li img {
    width: 50px;
   
}
.menu_nav ul li a.menu-item{
    transform: scale(1);
    transition: 0.5s;
    display: block;
}
.menu_nav ul li a.menu-item.hide-item{
    transform: scale(0);

}

.menu_nav ul li:nth-child(2) a.menu-item.hide-item
{
    transition-delay: 0.6s;
}
.menu_nav ul li:nth-child(3) a.menu-item.hide-item
{
    transition-delay: 0.6s;
}.menu_nav ul li:nth-child(4) a.menu-item.hide-item
{
    transition-delay: 0.6s;
}.menu_nav ul li:nth-child(5) a.menu-item.hide-item
{
    transition-delay: 0.6s;
}.menu_nav ul li:nth-child(6) a.menu-item.hide-item
{
    transition-delay: 0.6s;
}.menu_nav ul li:nth-child(7) a.menu-item.hide-item
{
    transition-delay: 0.6s;
}




.menu{
    margin-top: 10px;
    .dropdown_nav {
        padding: 10px 0;
        position: relative;
        a{
            color: $pink-color;
            text-decoration: none;
            span{
                margin: 0 5px;
            }
        }
        .megamenu{
            width: 100%;
            position: absolute;
            background-color: $grey-bg;
            z-index: 10;
            top: 100%;
            left: 0;
            display: block;
            float: left;
            .megamenu_categories{
                padding-left: 0;
                list-style-type: none;
                background-color: $main-bg;
                color: #31373B;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                row-gap: 15px;
                li{
                    font-size: 18px;
                    ul{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        li{
                            a{
                                color:#31373B;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}